

@using Cipher_Notes.Core.Exceptions
@using Cipher_Notes.Core.Interfaces

@using Cipher_Notes.ViewModels
@page "/"
@inject NoteListViewModel note_list_view_model
@inject NavigationManager Navigation
@inject IDialogService DialogService

<div class="container">
    <div class="header">
        <div class="logo">
            <img src="images/logo.svg" class="logo-img" />
            <div>
                <h1>Cipher Notes</h1>
               <!---search bar container-->
                <div class="search-wrapper">
                    <input type="text"
                           class="search-bar"
                           placeholder="type note's title..."
                           @bind="note_list_view_model.SearchQuery"
                           @bind:event="oninput" />
                    <button class="search-icon-btn" @onclick="OpenSearchResult">
                        <img src="images/search_bar_icon.svg" width="20" height="20" /> <!--search icon img-->
                    </button>
                   </div>
                <p>@note_list_view_model.Notes.Count notes encrypted</p>
            </div>
        </div>
    </div>

 

    @if (note_list_view_model.Notes.Count == 0)
    {
        <div class="empty-state">
            <img src="images/logo.svg" class="logo-img" />
            <h2>No notes yet</h2>
            <p>Tap + to create your first encrypted note</p>
        </div>
    }
    else
    {
        //display all notes. Each note has a menu which is being displayed after clicking on the ... This menu provides delete/update cancel options
        <div class="notes-list">
            @foreach (var note in note_list_view_model.FilteredNotes)
            {
                <div class="note-card" @onclick="() => ViewNote(note.Id)">
                    <div class="note-header">
                        <div>
                            <h3>@note.Title</h3>
                            <span class="encrypted-badge">🔒 ENCRYPTED</span>
                            <p>⏱ @note.Created_at.ToString("dd/MM/yyyy")</p>

                        </div>

                        <div class="note-actions">
                            <button class="action-btn edit-btn" @onclick="() => EditNote(note.Id)" @onclick:stopPropagation="true">✏️</button>
                            <button class="action-btn delete-btn" @onclick="() => DeleteNote(note.Id)" @onclick:stopPropagation="true">🗑️</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <button class="new-note-btn" @onclick="GoToCreate">+ Create Note</button>
</div>

@code {
   
    

    

    protected override async Task OnInitializedAsync()
    {
        await note_list_view_model.LoadNotesCommand.ExecuteAsync(null);
    }

    //update note method
    private async Task EditNote(int id)
    {
        try
        {
            //navigate to update page
            Navigation.NavigateTo($"/update/{id}");


        }
        catch (Exception ex)
        {
            await DialogService.ShowAlert("Error", ex.Message, "BACK");
        }
    }

    //view and decrypt note method
    private async Task ViewNote(int id)
    {
        try
        {
            //navigate to note page
            Navigation.NavigateTo($"/note/{id}");


        }catch(Exception ex)
        {
            await DialogService.ShowAlert("Error", ex.Message, "BACK");
        }
    }

    //delete note method
    private async Task DeleteNote(int id)
    {

        //delete note if user confirm
        if(await ConfirmDeletion())
        {
            //call delete note method
            await note_list_view_model.DeleteNoteCommand.ExecuteAsync(id);

            

            await DialogService.ShowAlert("alert", "Note deleted!", "BACK");    //return confirmation message
        }
        else
        {
            await DialogService.ShowAlert("alert", "Note has not been deleted", "BACK");  //inform user that the note has not been deleted
        }

    }

    //open search result method to open the note if found
    private async Task OpenSearchResult()
    {
        try
        {
            if (!await ValidInputSearchQuery()) //return an error message if search bar is empty
            {
                await DialogService.ShowAlert("Error", "Please fill out the search input", "BACK");
                return;
            }

            var match = note_list_view_model.FindNoteByTitle(note_list_view_model.SearchQuery);

            if (match == null) //return an error message if note does not exist
            {
                await DialogService.ShowAlert("Error", "Note does not exist", "BACK");
                return;
            }

            Navigation.NavigateTo($"/note/{match.Id}"); //navigate to note's page
        }
        catch (Exception ex) //return exception if an error occurs
        {
            await DialogService.ShowAlert("Error", ex.Message, "BACK");
        }
    }

    //method to validate that search query will not be empty if search btn is being clicked
    private async Task<bool> ValidInputSearchQuery()
    {
        if (string.IsNullOrWhiteSpace(note_list_view_model.SearchQuery))
        {
            return false;
        }
        return true;
    }

    //confirm deletion method
    private async Task<bool> ConfirmDeletion()
    {
        
        //prompt user to validate note's deletion
        return await App.Current.MainPage.DisplayAlertAsync(
                 "Confirm",
                 "Are you sure you want to delete?",
                 "OK",
                 "CANCEL");

    }

    private void GoToCreate()
    {
        // navigation to create note
        Navigation.NavigateTo("/create");
    }
}
