@using Cipher_Notes.Core.Models
@using Cipher_Notes.Core.Services
@using Cipher_Notes.Core.ViewModels
@using Cipher_Notes.Core.Exceptions
@using Cipher_Notes.Core.Interfaces
@using Cipher_Notes.Services
@page "/update/{Id:int}"


@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject UpdateNoteViewModel update_note_view_model
<div class="update_note-page">
    <h3>@note?.Title</h3>

    @if (note == null)
    {
        <p>Loading...</p>
    }
    else if (!isUnlocked) //if user didn't provide password
    {
        <div class="password-modal">
            <h4>Decrypt Note</h4>

            <input type="password"
                   placeholder="Enter password"
                   @bind="password"
                   />

            <button @onclick="Decrypt">Decrypt</button> <!---decrypt and unloc content btn -->
            <button @onclick="GoBack">Back</button>
        </div>
    }
    else //display once user unlock's and decrypts note
    {
        //display a form with note's info but allow user to edit content
        <div class="update-form">
            <input @bind="note.Title" class="title-input" />
            <textarea @bind="update_note_view_model.DecryptedContent"></textarea>
            <button @onclick="Update">Save</button>
            <button @onclick="GoBack">Back</button>
        </div>
    }


</div>
@code {

    [Parameter]

    //declare variables
    public int Id { get; set; }

    private SecureNotes? note;

    private string password = string.Empty;
    private string updatedTitle = string.Empty;

    private string decrypted_content = string.Empty;

    private bool isUnlocked = false;



    protected override async Task OnInitializedAsync() //method to load on page's initialization
    {
        //try-catch method to catch exceptions and return error message
        try
        {
            note = await update_note_view_model.LoadNote(Id); //get the specific note from db by its id



            update_note_view_model.Id = Id;// assign Id into UI's id property


        }catch(NotFoundException ex) //return an error message if note does not exist
        {
            await DialogService.ShowAlert("Error", ex.Message, "OK");
            GoBack();//return method
        }



    }

    //method to decrypt content
    private async Task Decrypt()
    {

        //try-catch method
        try
        {            //decrypt content
            //assign method into decryptedContent variable

            update_note_view_model.Password = password;//synch ui's pass with vm's
            await update_note_view_model.DecryptCommand.ExecuteAsync(null);

            decrypted_content = update_note_view_model.DecryptedContent; //return the decrypted content in decrypted_conte variable

            //return true for is_unlock to disable pop up window
            isUnlocked = true;

        }
        catch (ValidationException ex) //return an error message if password is null
        {
            await DialogService.ShowAlert("Error", ex.Message, "OK"); //return an exception if password is null
            return;
        }
        catch (InvalidPasswordException ex) //return an error message in UI if password is wrong
        {
            await DialogService.ShowAlert(
                "Authentication Error",
                ex.Message,
                "OK");

            //clear password
            password = string.Empty;
            return;
        }
        catch (Exception ex) //return a general exception message
        {
            await DialogService.ShowAlert(
               "Error",
               ex.Message,
               "OK");
        }
    }

    //method to return error messages if title or content are empty
    private async Task<bool> ValidateTitleAndDecryptedContentAreNotEmpty()
    {
        //sync UI fields with ViewModel's properties
        update_note_view_model.Title = note.Title;


        //validate that inputs won't be null using ValidateInputs method from 
        if (string.IsNullOrWhiteSpace(update_note_view_model.Title))
        {

            throw new ValidationException("Title is empty");
        }
        else if (string.IsNullOrWhiteSpace(update_note_view_model.DecryptedContent))
        {
            throw new ValidationException("Content is empty");
            
        }
        return true;
    }

    //update note method
    private async Task Update()
    {
        try
        {
            //validate if title or content are empty
            if (await ValidateTitleAndDecryptedContentAreNotEmpty())
            {
                //if user confirms the update, update the note
                if (!await ConfirmUpdate())
                {

                    await DialogService.ShowAlert("Cancel", "You didn't update note", "OK");
                    return;
                }

                await update_note_view_model.Update(Id);//call the update note method from note service to update data
                //return an success message
                await DialogService.ShowAlert("Success", "Note has been updated", "OK");

            }   
        }
        catch(ValidationException ex) //return error messages if content or title are missing
        {
            await DialogService.ShowAlert("Validation error", ex.Message, "OK");
        }

        catch (NotFoundException ex) //return an error message if selection query failed or note does not exists
        {
            await DialogService.ShowAlert("Not Found", ex.Message, "OK");
        }
        catch(Exception ex)
        {
            await DialogService.ShowAlert("Error", ex.Message, "OK");
            return;
        }
    }

   


    //prompt user to confirm the update
    private async Task<bool> ConfirmUpdate()
    {
        return  await App.Current.MainPage.DisplayAlertAsync(
                "Confirm",
                "Are you sure you want to update the note?",
                "OK",
                "CANCEL");
      
    }

    //return to main page method
    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}
