@using Cipher_Notes.Core.Models
@using Cipher_Notes.Core.Services
@using Cipher_Notes.Core.Exceptions
@using Cipher_Notes.Core.Interfaces
@using Cipher_Notes.Services
@using Cipher_Notes.ViewModels

@page "/note/{Id:int}"
@inject INoteService NoteService
@inject ViewNoteViewModel view_note_view_model
@inject IDialogService dialogService
@inject NavigationManager Navigation


<div class="view_note-page">
<h3>@note?.Title</h3>

@if (note == null)
{
    <p>Loading...</p>
}
else if (!isUnlocked)
{
    <div class="password-modal">
        <h4>Decrypt   Note</h4>

        <input type="password"
               placeholder="Enter password"
               @bind="password" />

        <button @onclick="Decrypt">Unlock</button>
        <button @onclick="GoBack">Back</button>
    </div>
}
else
{
    <div class="note-content">
            <p>@decryptedContent</p>
        <button @onclick="GoBack">Back</button>
    </div>
}
</div>
@code {
    [Parameter]
    //declare variables
    public int Id { get; set; }

    private SecureNotes? note;

    private string password = string.Empty;
    private string decryptedContent = string.Empty;
    private bool isUnlocked = false;

    protected override async Task OnInitializedAsync() //method to load on page's initialization
    {

        //try catch method to return exceptions
        try
        {
            note = await view_note_view_model.LoadNote(Id); //get the specific note from db by its id

            //synchronise model's id with ui property
            view_note_view_model.Id = Id;

            //synch model's decrypted content with UI's decrypted content
            view_note_view_model.DecryptedContent = decryptedContent;

        }catch(NotFoundException ex)
        {
            await dialogService.ShowAlert( //display an error message if note does not exist
                "Error",
                ex.Message,
                "OK");
            GoBack();//method to return to the main menu
        }

    }

    //method to decrypt note
    private async Task Decrypt()
    {
        //try-catch method
        try
        {


            //synchronise UI's password with VM's password
            view_note_view_model.Password = password;
            //decrypt content
            //use DecryptCommand to decrypt content. DecryptCommand was created from Decrypt method which was marked as a RealyCommand
             await view_note_view_model.DecryptCommand.ExecuteAsync(null);

            //synchronise UI's decrypted content with VM's DecryptedContent
             decryptedContent = view_note_view_model.DecryptedContent;

            //return true for is_unlock to disable pop up window
            isUnlocked = true;

        }
        catch(ValidationException ex)
        {
            await dialogService.ShowAlert("Validation error", ex.Message, "OK");
        }
        catch (InvalidPasswordException ex) //return an exception message if password is null
        {
            await dialogService.ShowAlert(
               "Authentication Error",
               ex.Message,
               "OK");
            password = string.Empty;
        }
    }

    //method to return to the main page
    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}