@using Cipher_Notes.Core.Models
@using Cipher_Notes.Core.Services
@using Cipher_Notes.Core.Exceptions
@using Cipher_Notes.Core.Interfaces

@page "/note/{Id:int}"
@inject INoteService NoteService
@inject NavigationManager Navigation


<div class="view_note-page">
<h3>@note?.Title</h3>

@if (note == null)
{
    <p>Loading...</p>
}
else if (!isUnlocked)
{
    <div class="password-modal">
        <h4>Decrypt   Note</h4>

        <input type="password"
               placeholder="Enter password"
               @bind="password" />

        <button @onclick="Decrypt">Unlock</button>
        <button @onclick="GoBack">Back</button>
    </div>
}
else
{
    <div class="note-content">
        <p>@decryptedContent</p>
        <button @onclick="GoBack">Back</button>
    </div>
}
</div>
@code {
    [Parameter]
    //declare variables
    public int Id { get; set; }

    private SecureNotes? note;

    private string password = string.Empty;
    private string decryptedContent = string.Empty;
    private bool isUnlocked = false;

    protected override async Task OnInitializedAsync() //method to load on page's initialization
    {

        //try catch method to return exceptions
        try
        {
            note = await NoteService.GetNoteById(Id); //get the specific note from db by its id

        }catch(NotFoundException ex)
        {
            await App.Current.MainPage.DisplayAlertAsync( //display an error message if note does not exist
                "Error",
                ex.Message,
                "OK");
            GoBack();//method to return to the main menu
        }

    }

    //method to decrypt note
    private async Task Decrypt()
    {
        //try-catch method
        try
        {
          
            //decrypt content
            //assign method into decryptedContent variable
            decryptedContent = await NoteService.DecryptNote(Id, password);

            //return true for is_unlock to disable pop up window
            isUnlocked = true;

        }
        catch(ValidationException ex)
        {
            await App.Current.MainPage.DisplayAlertAsync("Input error", ex.Message, "OK");
        }
        catch (InvalidPasswordException ex) //return an exception message if password is null
        {
            await App.Current.MainPage.DisplayAlertAsync(
               "Authentication Error",
               ex.Message,
               "OK");
            password = string.Empty;
        }
    }

    //method to return to the main page
    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}